{% load bootstrap4 %}
<!DOCTYPE htlm>
<html>
    <head>
        <meta charset="utf-8 /">
        <title> Chat </title>
        {% bootstrap_css %}
    </head>
    <body>
        <br class = 'container'>
            Qual Sala de bate-papo você gostaria de entrar?<br/>
            <input id="nome_sala", name="nome_sala", type="text" size="100" placeholder="Nome da sala ..."><br/>
            {% buttons %}
                <input id="botao" class="btn btn-primary" type="button" value="Entrar" />
            {% endbuttons %}
        </div>
        <script>
            document.querySelector('#nome_sala').focus();
            document.querySelector('#nome').

        </script>


        {% bootstrap_javascript jquery='full' %}
    </body>
</html>
